<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="logPattern" value="[%d{ISO8601,UTC+9}] %highlight([%-5level]) [%thread] %c: %m%n%rootException" />
    <property name="logFileDir" value="/app/demo/logs" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileDir}/logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFileDir}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.demo.logger.MaskingPatternLayout">
                <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- 이메일 -->
                <maskPattern>(01[016789]{1}-?[0-9]{3,4}-?[0-9]{4})</maskPattern> <!-- 휴대폰번호 -->
                <maskPattern>(\"address\"\s*:\s*\"(.*?)\")</maskPattern> <!-- JSON address 필드 -->
                <!-- todo: masking patterns 추가 -->
                <pattern>${logPattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>${logPattern}</pattern>
        </layout>
    </appender>

    <root>
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>