[cols="2,6,2,4"]
|===
| Code | 설명 및 메시지 | Http 상태 코드 | status 설명
{{#fields}}
|{{#tableCellContent}}{{code}}{{/tableCellContent}}
|{{#tableCellContent}}{{message}}{{/tableCellContent}}
|{{#tableCellContent}}{{statusCode}}{{/tableCellContent}}
|{{#tableCellContent}}{{status}}{{/tableCellContent}}
{{/fields}}
|===