<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.api.v1.board.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="com.example.demo.api.v1.board.entity.Board">
        <result column="platform_cd" property="platformCd" jdbcType="VARCHAR"
                typeHandler="com.example.demo.constant.BoardPlatformCode$TypeHandler" />
    </resultMap>
    <select id="selectBoardById"
            parameterType="com.example.demo.api.v1.board.entity.Board"
            resultType="com.example.demo.api.v1.board.entity.Board"
            resultMap="boardResultMap">
        SELECT board_id
             , title
             , content
             , created_dtm
             , updated_dtm
             , platform_cd
             , show_yn
        FROM board
        WHERE board_id = #{boardId} AND show_yn = 'Y'
    </select>
    <select id="selectBoardList"
            parameterType="com.example.demo.common.entity.Pagination"
            resultType="com.example.demo.api.v1.board.entity.Board"
            resultMap="boardResultMap">
        SELECT board_id
             , title
             , content
             , created_dtm
             , updated_dtm
             , platform_cd
             , show_yn
        FROM board
        WHERE show_yn = 'Y'
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <insert id="insertBoard" parameterType="com.example.demo.api.v1.board.entity.Board">
        INSERT INTO board (
            title
            , content
            , platform_cd
        ) VALUES (
            #{title}
            , #{content}
            , #{platformCd, javaType=com.example.demo.constant.BoardPlatformCode, typeHandler=com.example.demo.constant.BoardPlatformCode$TypeHandler}
        )
    </insert>
    <update id="updateBoard" parameterType="com.example.demo.api.v1.board.dto.BoardDto$ModifyRequest">
        UPDATE board
        SET
            title = #{title}
            , content = #{content}
            , platform_cd = #{platformCd, javaType=com.example.demo.constant.BoardPlatformCode, typeHandler=com.example.demo.constant.BoardPlatformCode$TypeHandler}
        WHERE board_id = #{boardId}
    </update>
</mapper>
