<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.api.v1.monthly_event.mapper.MonthlyEventMapper">
    <select id="selectMonthlyEventByPlatformId"
            parameterType="com.example.demo.common.ApiRequestList"
            resultType="com.example.demo.api.v1.monthly_event.entity.MonthlyEvent" >
        SELECT
            ev.event_id,
            ev.brand_nm,
            ev.event_nm,
            (SELECT CONCAT(f.file_path, '/', f.file_nm) FROM file f where f.file_id = ev.main_img_file_id) AS mainImgUrl,
            (SELECT CONCAT(f.file_path, '/', f.file_nm) FROM file f where f.file_id = ev.detail_img_file_id) AS detailImgUrl,
            (SELECT CONCAT(f.file_path, '/', f.file_nm) FROM file f where f.file_id = ev.thumb_img_file_id) AS thumbImgUrl,
            ev.winning_quantity,
            ev.event_apply_start_dtm,
            ev.event_apply_end_dtm
        FROM
            event ev
        LEFT JOIN
            event_platform evp
        ON ev.event_id = evp.event_id
        WHERE
            evp.platform_id = #{param}
            AND ev.delete_yn = 'N'
        LIMIT ${pageable.offset} , ${pageable.pageSize}
    </select>

    <select id="selectMonthlyEventCountByPlatformId"
            parameterType="java.lang.Integer"
            resultType="java.lang.Integer" >
        SELECT
            COUNT(*)
        FROM
            event ev
                LEFT JOIN
            event_platform evp
            ON ev.event_id = evp.event_id
        WHERE
            evp.platform_id = #{platformId}
          AND ev.delete_yn = 'N'
    </select>
</mapper>
