<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.api.v1.my_event.mapper.MyEventMapper">
    <select id="selectMyEventList"
            parameterType="com.example.demo.common.page.RequestPage"
            resultType="com.example.demo.api.v1.my_event.entity.MyEvent" >
        SELECT
            mea.event_id,
            mea.platform_id,
            mea.member_id,
            (SELECT platform_nm FROM platform p WHERE p.platform_id = mea.platform_id) AS platform_nm,
            me.event_nm,
            me.brand_nm,
            (SELECT CONCAT(f.file_path, '/', f.file_nm) FROM file f where f.file_id = me.main_img_file_id) AS mainImgUrl,
            (SELECT CONCAT(f.file_path, '/', f.file_nm) FROM file f where f.file_id = me.detail_img_file_id) AS detailImgUrl,
            (SELECT CONCAT(f.file_path, '/', f.file_nm) FROM file f where f.file_id = me.thumb_img_file_id) AS thumbImgUrl,
            me.event_apply_start_dtm,
            me.event_apply_end_dtm,
            meac.confirm_id,
            meaw.winning_id
        FROM
            monthly_event_applicant mea
        LEFT JOIN
            monthly_event me
        ON
            mea.event_id = me.event_id
        LEFT JOIN
            monthly_event_applicant_winning meaw
        ON
            meaw.applicant_id = mea.applicant_id
        LEFT JOIN
            monthly_event_applicant_confirm meac
        ON
            meac.applicant_id = mea.applicant_id
        WHERE
            me.delete_yn = 'N'
            AND mea.member_id = #{param}
        LIMIT ${pagination.offset} , ${pagination.perPage}
    </select>

    <select id="selectMyEventCount"
            parameterType="com.example.demo.common.page.RequestPage"
            resultType="java.lang.Integer" >
        SELECT
            COUNT(*)
        FROM
            monthly_event_applicant mea
        LEFT JOIN
            monthly_event me
        ON
            mea.event_id = me.event_id
        WHERE
            me.delete_yn = 'N'
            AND mea.member_id = #{param}
    </select>
</mapper>
